.conteiner {
    max-width: 1440px;
    width: 100%;
    background-color: aqua;
    border: 10px solid red;
    margin: auto;


}

/* header */

.main_header {
    width: 90%;
    height: 50px;
    background-color: rgb(229, 227, 199);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fa-bars{
    display: none;
}

/* header_left_side */

.header_left_side {

    display: flex;
    align-items: center;
    gap: 14px;
}

.page_title {

    color: #FA793C;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* header_right_side */

.header_right_side{
    display: flex;
    align-items: center;
    gap: 40px;
}

.main_header_ul{
    display: flex;
    gap: 30px;
}

.header_list_link{
    color: #000;
font-family: ABeeZee;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
